In [2]:
import pandas as pd
df = pd.read_csv("Bundesliga_Results.csv")

In [3]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Filter rows where the month is September and Bayern Munich is the home or away team
filtered_data = df[(df['Date'].dt.month == 9) & ((df['HomeTeam'] == 'Bayern Munich') | (df['AwayTeam'] == 'Bayern Munich'))]

filtered_data

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
91,D1,1993-09-10,FC Koln,Bayern Munich,0,4,A,NaN,NaN,NaN,1993-94
262,D1,1994-09-04,Bayern Munich,Ein Frankfurt,2,1,H,NaN,NaN,NaN,1993-94
650,D1,1995-09-09,Bayern Munich,Freiburg,2,0,H,1.0,0.0,H,1995-96
758,D1,1995-09-12,Dusseldorf,Bayern Munich,0,2,A,0.0,0.0,D,1995-96
796,D1,1996-09-03,Freiburg,Bayern Munich,3,1,H,1.0,1.0,D,1995-96
1105,D1,1997-09-03,Leverkusen,Bayern Munich,5,2,H,3.0,0.0,H,1996-97
1244,D1,1997-09-08,Bayern Munich,Wolfsburg,5,2,H,3.0,1.0,H,1997-98
1521,D1,1998-09-05,Bayern Munich,Dortmund,4,0,H,0.0,0.0,D,1997-98
1553,D1,1998-09-09,Bayern Munich,Hansa Rostock,6,1,H,0.0,0.0,D,1998-99
1807,D1,1999-09-05,Bayern Munich,Hertha,1,1,D,1.0,0.0,H,1998-99
2002,D1,2000-09-02,Bayern Munich,Leverkusen,4,1,H,2.0,0.0,H,1999-00
2173,D1,2000-09-09,Stuttgart,Bayern Munich,2,1,H,1.0,1.0,D,2000-01
2280,D1,2000-09-12,Kaiserslautern,Bayern Munich,0,0,D,0.0,0.0,D,2000-01
2637,D1,2002-09-02,Bayern Munich,Dortmund,1,1,D,0.0,0.0,D,2001-02
2673,D1,2002-09-03,Bayern Munich,Munich 1860,2,1,H,0.0,0.0,D,2001-02
2852,D1,2002-09-11,Bayern Munich,Dortmund,2,1,H,0.0,1.0,A,2002-03
2931,D1,2003-09-02,Bayern Munich,Hamburg,1,1,D,1.0,0.0,H,2002-03
3073,D1,2003-09-08,Hannover,Bayern Munich,3,3,D,3.0,1.0,H,2003-04
3166,D1,2003-09-11,Bayern Munich,Dortmund,4,1,H,1.0,0.0,H,2003-04
3609,D1,2005-09-04,Bayern Munich,M'gladbach,2,1,H,0.0,0.0,D,2004-05
4114,D1,2006-09-12,Bayern Munich,Cottbus,2,1,H,1.0,0.0,H,2006-07
4697,D1,2008-09-11,Schalke 04,Bayern Munich,1,2,A,1.0,2.0,A,2008-09
4861,D1,2009-09-05,Cottbus,Bayern Munich,1,3,A,1.0,1.0,D,2008-09
5458,D1,2011-09-04,Nurnberg,Bayern Munich,1,1,D,0.0,1.0,A,2010-11
5994,D1,2013-09-02,Bayern Munich,Schalke 04,4,0,H,2.0,0.0,H,2012-13
6031,D1,2013-09-03,Bayern Munich,Fortuna Dusseldorf,3,2,H,1.0,1.0,D,2012-13
6120,D1,2013-09-08,Bayern Munich,M'gladbach,3,1,H,2.0,1.0,H,2013-14
6220,D1,2013-09-11,Bayern Munich,Augsburg,3,0,H,2.0,0.0,H,2013-14
6706,D1,2015-09-05,Bayern Munich,Augsburg,0,1,A,0.0,0.0,D,2014-15
6988,D1,2016-09-04,Stuttgart,Bayern Munich,1,3,A,0.0,1.0,A,2015-16
7047,D1,2016-09-09,Schalke 04,Bayern Munich,0,2,A,0.0,0.0,D,2016-17
7365,D1,2017-09-09,Hoffenheim,Bayern Munich,2,0,H,1.0,0.0,H,2017-18
7472,D1,2017-09-12,Ein Frankfurt,Bayern Munich,0,1,A,0.0,1.0,A,2017-18

In [5]:
# Extract the year from the 'Date' column using .loc to avoid the SettingWithCopyWarning
filtered_data.loc[:, 'Year'] = filtered_data['Date'].dt.year

# Group by year and count occurrences in FTHG and FTAG
bayern_summary = filtered_data.groupby('Year').agg(
    TotalGoalsAsHomeTeam=('FTHG', 'sum'),
    TotalGoalsAsAwayTeam=('FTAG', 'sum')
).reset_index()

# DataFrame
bayern_summary

    Year  TotalGoalsAsHomeTeam  TotalGoalsAsAwayTeam
0   1993                     0                     4
1   1994                     2                     1
2   1995                     2                     2
3   1996                     3                     1
4   1997                    10                     4
5   1998                    10                     1
6   1999                     1                     1
7   2000                     6                     2
8   2002                     5                     3
9   2003                     8                     5
10  2005                     2                     1
11  2006                     2                     1
12  2008                     1                     2
13  2009                     1                     3
14  2011                     1                     1
15  2013                    13                     3
16  2015                     0                     1
17  2016                     1                     5
18  2017                     2                     1

In [9]:
bayern_summary.dtypes

Year                    int32
TotalGoalsAsHomeTeam    int64
TotalGoalsAsAwayTeam    int64
dtype: object

In [10]:
bayern_summary.to_csv('bayern_summary.csv', index=False)

In [16]:
import pandas as pd
df = pd.read_csv("weatherdata.csv")
df.shape

(25051, 1)

In [15]:
df.head()

  STATIONS_ID;MESS_DATUM;QN_3;  FX;  FM;QN_4; RSK;RSKF; SDK;SHK_TAG;  NM; VPM;  PM; TMK; UPM; TXK; TNK; TGK;eor
0         3379;19540601;-999;-999;-999;    1;   0...
1         3379;19540602;-999;-999;-999;    1;   0...
2         3379;19540603;-999;-999;-999;    1;   0...
3         3379;19540604;-999;-999;-999;    1;   1...
4         3379;19540605;-999;-999;-999;    1;   6...

In [27]:
import pandas as pd

data = {'column_to_split': ["STATIONS_ID;MESS_DATUM;QN_3;FX;FM;QN_4;RSK;RSKF;SDK;SHK_TAG;NM;VPM;PM;TMK;UPM;TXK;TNK;TGK;eor"]}
df = pd.DataFrame(data)

# Remove quotes and split the column into multiple columns
df_split = df['column_to_split'].str.strip("'").str.split(';', expand=True)

# Concatenate the original DataFrame with the new columns
df = pd.concat([df, df_split], axis=1)

# Drop the original column if needed
df = df.drop('column_to_split', axis=1)

# Display the resulting DataFrame
print(df)

             0           1     2   3   4     5    6     7    8        9  10  \
0  STATIONS_ID  MESS_DATUM  QN_3  FX  FM  QN_4  RSK  RSKF  SDK  SHK_TAG  NM

    11  12   13   14   15   16   17   18
0  VPM  PM  TMK  UPM  TXK  TNK  TGK  eor

In [28]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor